<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Template</title>
</head>
<body>
    <div class="menu">
        <div class="container">
            <!--Maker-->
            <div class="maker">
                <h1 class = "maker__title title">Choose</h2>
                <h1 class="maker__title title">Your Pizza</h1>
                <div class="maker-consist consist">
                    <div class="consist__item item">
                        <span class="item__border">
                            <img src="img/consist/size.png" alt="icon" class = "item__icon">
                        </span>
                        <button class="btn maker__btn">Size</button>
                    </div>
                    <div class="consist__item item">
                        <span class="item__border">
                            <img src="img/consist/sause.png" alt="icon" class = "item__icon">
                        </span>
                        <button class="btn maker__btn">Souse</button>
                    </div>
                    <div class="consist__item item">
                        <span class="item__border">
                            <img src="img/consist/ingredients.png" alt="icon" class = "item__icon">
                        </span>
                        <button class="btn maker__btn">Ingredients</button>
                    </div>
                </div>
            </div>
            <!--Pizza-->
            <div class="pizza">
                <svg class="svg svg__large">
                    <circle class="circle circle__large"></circle>
                </svg>
                <svg class="svg svg__medium">
                    <circle class="circle circle__medium"></circle>
                </svg>
            </div>
            <!--Bar-->
            <div class="bar">
                <div class="bar__inner">
                    <div class="left-btn bar__left-btn"></div>
                    <div class="bar__ingredients ingredients">
                        <div class="ingredients__item">
                            <div class="ingredients__border">
                                <img src="" alt="" class="ingredients__icon">
                                <h6 class="ingredients__weight"></h6>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>