<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Template</title>
</head>
<body>
    <div class="menu">
        <div class="container">
            <div class="menu__inner">
                <!--Maker-->
                <div class="maker">
                    <h1 class = "maker__title title">Choose</h2>
                    <h1 class="maker__title title">Your Pizza</h1>
                    <div class="maker-consist consist">
                        <div class="consist__item item">
                            <span class="item__border">
                                <img src="img/consist/size.png" alt="icon" class = "item__icon">
                            </span>
                            <button class="btn maker__btn">Size</button>
                        </div>
                        <div class="consist__item item">
                            <span class="item__border">
                                <img src="img/consist/sause.png" alt="icon" class = "item__icon">
                            </span>
                            <button class="btn maker__btn">Souse</button>
                        </div>
                        <div class="consist__item item">
                            <span class="item__border">
                                <img src="img/consist/ingredients.png" alt="icon" class = "item__icon">
                            </span>
                            <button class="btn maker__btn">Ingredients</button>
                        </div>
                    </div>
                </div>
                <!--Pizza-->
                <div class="pizza">
                    <div class="pizza__diameter">
                        <div class="pizza__large">
                            <div class="pizza__medium">
                                <div class="pizza__small">
                                    <img src="img/pizza/pizza.png" alt="" class="pizza__image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>